/* Rubik font-family: 'Rubik', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
/* Roboto font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/* Anton  font-family: 'Anton', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@100&family=Rubik:wght@300&display=swap');

html {
  min-width: 990px;
  margin-right: 0;
  margin-left: 0;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
header,
body {
  background-color: black;
  color: rgb(225, 173, 0);
}

header {
  display: flex;
  justify-content: center;
  height: 40px;
  font-weight: 200;
  border-bottom: 1px solid rgb(225, 173, 0);
  font-size: 3em;
}

#explosion {
  min-width: 200px;
  position: relative;
  margin-top: 110px;
  display: flex;
  justify-content: center;
}

header a {
  text-align: center;
  padding-top: 20px;
  width: 100px;
  border: none;
  background-color: black;
  color: rgb(225, 173, 0);
  font-size: medium;
  margin-left: 40px;
  margin-right: 40px;
  text-decoration: none;
}
header a:hover {
  opacity: 0.5;
  text-decoration: none;
  color: rgb(225, 173, 0);
}

.wrapper {
  display: grid;
  grid-template-columns: auto minmax(auto, 1025px) auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.col2 {
  grid-column: 2;
  display: flex;
  justify-content: center;
}
.col2 img {
  min-width: 300px;
  width: 40%;
  border-radius: 50%;
}
.col2 a {
  color: rgb(225, 173, 0);
  text-decoration: none;
}

#main-name {
  font-family: 'Anton', sans-serif;
  color: rgb(255, 201, 22);
  font-size: 3em;
  letter-spacing: 5px;
  margin-bottom: 0px;
  margin-top: 15px;
}

#job-title {
  min-width: 500px;
  font-family: 'Rubik', sans-serif;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 3px;
  margin-bottom: 40px;
  margin-top: 0px;
}

#two-button {
  display: flex;
  justify-content: center;
}

#two-button-between {
  width: 40px;
}

#resume-download,
#contact-me-form {
  height: 50px;
  width: 150px;
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  letter-spacing: 1px;
  background-color: rgb(50, 50, 50);
  color: rgb(225, 173, 0);
  text-align: center;
  border-radius: 30px;
}
#resume-download {
  display: flex;
  justify-content: center;
  line-height: 2.1em;
}
#download-pic {
  padding-top: 9px;
  margin-right: 9px;
}
#resume-download:hover,
#contact-me-form:hover {
  color: rgb(234, 186, 169);
  background-color: rgb(48, 34, 31);
}

#about-me {
  display: flex;
  justify-content: center;
  background-color: rgb(225, 173, 0);
  padding-top: 50px;
  padding-bottom: 100px;
}
time {
  font-weight: 600;
}
.wrapper2 {
  padding-left: 6%;
  max-width: 1500px;
  min-width: 990px;
  background-color: rgb(225, 173, 0);
  color: black;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;

  padding-bottom: 50px;
  padding-top: 50px;
  font-size: 1.2em;
  font-family: 'Rubik', sans-serif;
}

.wrapper2 #table-title-about-me {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row: 1;
  padding-left: 3%;
}
.wrapper2 #table-title-basic-information {
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row: 1;
}

.wrapper2 #declaration {
  grid-column: 2/5;
  padding-left: 3%;
  grid-row: 2/ 8;
}

.wrapper2 #table-name-header {
  grid-column: 5/6;
  grid-row: 2;
}
.wrapper2 #table-name-value {
  grid-column: 6/8;
  grid-row: 2;
}
.wrapper2 #table-email-header {
  grid-column: 5/6;
  grid-row: 3;
}
.wrapper2 #table-email-value {
  grid-column: 6/8;
  grid-row: 3;
}
.wrapper2 #table-course-header {
  grid-column: 5/6;
  grid-row: 4;
}
.wrapper2 #table-course-value {
  grid-column: 6/8;
  grid-row: 4;
}
.wrapper2 #table-section-header {
  grid-column: 5/6;
  grid-row: 5;
}
.wrapper2 #table-section-value {
  grid-column: 6/8;
  grid-row: 5;
}
.wrapper2 #table-sid-header {
  grid-column: 5/6;
  grid-row: 6;
}
.wrapper2 #table-sid-value {
  grid-column: 6/8;
  grid-row: 6;
}
.wrapper2 #table-ins-header {
  grid-column: 5/6;
  grid-row: 7;
}
.wrapper2 #table-ins-value {
  grid-column: 6/8;
  grid-row: 7;
}

.wrapper2 h3 {
  margin: 0;
  font-weight: 600;
  font-size: 1.1em;
}

.wrapper2 h2 {
  margin: 0;
  font-weight: 800;
  font-size: 1.5em;
}

.wrapper2 p {
  padding-right: 30px;
  font-size: 1.2em;
}

#education {
  background-color: black;
  margin-top: 100px;
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-columns: auto minmax(auto, 1025px) auto;
  padding-bottom: 100px;
}

#education .wrapper3 {
  grid-column: 2;
  width: 990px;
  display: flex;
  justify-content: center;
  padding-left: minmax(auto, 3%);
}
.side-header1 h2 {
  display: flex;
  justify-content: center;
  font-size: 2em;
  background-color: rgb(225, 173, 0);
  color: black;
  margin: 0;
  padding-top: 40px;
  font-family: 'Rubik', sans-serif;
}

.side-header2 h2 {
  display: flex;
  justify-content: center;
  font-size: 2em;
  padding-top: 50px;
  font-family: 'Rubik', sans-serif;
}

.education-card {
  background-color: rgb(225, 173, 0);
  width: 90%;
  height: 150px;
  font-size: 1.2em;
  color: black;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: auto;
  margin-bottom: 50px;
}

.education-card div:nth-child(1) {
  grid-column: 1;
  grid-row: 1/3;
  padding-top: 40px;
  border-radius: 5px 0 0 0;
}
.education-card div:nth-child(2) {
  grid-column: 1;
  grid-row: 3/5;
  border-radius: 0 0 0 5px;
}

.education-card div:nth-child(1),
.education-card div:nth-child(2) {
  text-align: center;
  background-color: rgb(50, 50, 50);
  color: rgb(225, 173, 0);
  font-size: 0.9em;
  letter-spacing: 1px;
  font-weight: 300;
}
.education-card div:nth-child(3) {
  grid-column: 2;
  font-size: 1.2em;
  padding-top: 10px;
  font-weight: 600;
  letter-spacing: 1px;
}

.education-card div:nth-child(4) {
  grid-column: 2;
  font-family: 'Anton', sans-serif;
  color: rgb(66, 64, 60);
  opacity: 60%;
}

.education-card div:nth-child(5) {
  grid-column: 2;
  font-weight: 300;
  letter-spacing: 2px;
}
.education-card div:nth-child(6) {
  grid-column: 2;
  font-weight: 300;
  letter-spacing: 2px;
}

.education-card div:nth-child(3),
.education-card div:nth-child(4),
.education-card div:nth-child(5),
.education-card div:nth-child(6) {
  margin: 0;
  padding-left: 20px;
}
#contact-me-header h2 {
  padding-bottom: 40px;
}
.form-area {
  background-color: rgb(225, 173, 0);
  min-width: 100%;
}
.container {
  max-width: 900px;
  color: black;
  background-color: rgb(225, 173, 0);
  padding-bottom: 50px;
}
.col-12 {
  padding-left: 0;
  padding-right: 0;
}
#hourly-rate {
  border: none;
  width: 70%;
  border-radius: 3px;
  margin-left: 2%;
  height: 38px;
  outline: none;
}
footer {
  height: 40px;
}
footer p {
  padding-top: 10px;
  text-align: center;
}
